container_commands:
  migration_staging:
    command: "source /var/app/venv/*/bin/activate; flask db migrate"
    cwd: /var/app/staging
    leader_only: true
    # ignoreErrors: true
  upgrade_staging:
    command: "source /var/app/venv/*/bin/activate; flask db upgrade"
    cwd: /var/app/staging
    leader_only: true